:root{
    --primary_color: #377DFF;
    --secondary_color: #273B60;
    --tertiary_color: #4E535C;
    --quat_color: #f9fbff;
    --black_color: #000000;
    --white_color: #ffffff;
    }
    *{
        margin: 0;
        padding: 0;
    }
    body{
        color: var(--tertiary_color);
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 40px;
        overflow-y: scroll;
        overflow-x: hidden;  
        -webkit-box-sizing: border-box;  
                box-sizing: border-box;
        margin:0;
        font-family: 'Montserrat', sans-serif;
    }
    
    h1{
        font-size: 60px;
        line-height: 80px;
        font-weight: 700;
        letter-spacing: 0px;
        color: var(--white_color);
        font-family: 'Montserrat', sans-serif;
    }
    h2{
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        letter-spacing: 0px;
        color: var(--secondary_color);
        font-family: 'Montserrat', sans-serif;
    }
    h4{
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        letter-spacing: 0px;
        color: var(--primary_color);
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-size: 20px;
        line-height: 40px;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: var(--tertiary_color);
        font-family: 'Montserrat', sans-serif;
    }
    a{
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        letter-spacing: 0px;
        color: var(--primary_color);
        font-family: 'Montserrat', sans-serif;  
    }
    
    @media (max-width: 767px){
        h1{
            font-size: 52px;
        }
    }
    .center-align{
       text-align: center;
    }
    .left-align{
        text-align: left;
    }
    .right-align{
        text-align: right;
    }
    .section-bg{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content-wrapper{
        max-width: 1067px;
        margin: 0 auto;
        padding: 0 15px;
    }